/svg/
/kosmix/build/
*/build
*/build/*
/CLAUDE.md
/build/
/.idea/
/.gradle/
/.claude/
/gradle/
/innosetup/data/Kosmix.exe
/innosetup/data/runtime/
/innosetup/data/app/
/innosetup/Kosmix.exe
/screenshots/
